.App {
  text-align: center;
  background: repeating-linear-gradient(
    45deg,
    #c33329,
    #c33329 10px,
    #ea3f33 10px,
    #ea3f33 21px
  );
}

/*  Header Styles */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin: 10px;
  float: left;
}

.App-header {
  height: 90px;
  padding: 19px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.App-title {
  font-family: 'Bungee Shade', cursive;
  color: #fff;
  padding-left: 14px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*  Card Styles */

.card-wrapper {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  /*background: linear-gradient(-12deg, #FFB912 30%, #1f4f03 70%);*/
  border: 2px solid white;
  /*background-image: url("http://www.wallfizz.com/art-design/noel/3983-flocons-de-neige-glace-WallFizz.jpg");*/
  background-image: url("http://st.gde-fon.com/wallpapers_original/315030_snezhinki_-sneg_-zima_1920x1200_www.Gde-Fon.com.jpg");
}

#card-top-box {
  height: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
}

#card-bottom-box {
  height: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.challenge, span.era, span.genre {
  font-size: 2em;
  transform: rotate(-12deg);
  /*font-family: 'Baloo', cursive;*/
  font-family: 'Cantora One', sans-serif;
  color: #8c221b;
}

span.era, span.genre {
  color: #1f4f03;
}

hr {
  transform: rotate(-12deg);
  border: 0;
  height: 5px;
  margin-left: -6px;
  width: 104%;
  background: repeating-linear-gradient(
    45deg,
    #c33329,
    #c33329 10px,
    #ea3f33 10px,
    #ea3f33 20px
  );
}

/*  footer styles */

p.counter {
  margin: 0 auto;
  padding: 15px;
  color: #fff;
}

.app-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.next-button {
  padding: 5px 20px;
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #1f4f03;
  background-color: #fff;
  border: 1px solid #1f4f03;
  border-radius: 15px;
  box-shadow: 4px 6px 0px -1px rgba(31,79,3,1);
  font-family: 'Mountains of Christmas', cursive;
  font-weight: 700;
  letter-spacing: 5px;
}

.next-button:active {
  background-color: #1f4f03;
  color: #fff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
