.App {
  text-align: center;
  background: #ff8900;
}

/*  Header Styles */

.App-logo {
  animation: Logo-pulse infinite 2s linear;
  height: 80px;
  margin: 10px;
  float: left;
}

.App-header {
  height: 70px;
  padding: 19px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.App-title {
  font-family: 'Bungee Shade', cursive;
  color: #fff;
  padding-left: 14px;
  font-size: 3rem;
}

@keyframes Logo-pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.85); }
  to { transform: scale(1); }
}
@keyframes Face-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}


/*  Card Styles */

.card-wrapper {
  margin: 5px;
  background-color: #fff;
  border-radius: 10px;
  /*background: linear-gradient(-12deg, #FFB912 30%, #1f4f03 70%);*/
  border: 2px solid white;
  background-color: purple;
  display: flex;
  flex-direction: column;
}

#card-top-box {
  height: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
}

#card-bottom-box {
  height: 120px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face{
    animation: Face-spin infinite 20s linear;
    height: 12rem;
    width: 12rem;
    position: inherit;
    z-index: 5;
}

span.challenge, span.genre {
  font-size: 2rem;
  transform: rotate(-12deg);
  color: #fff;
  font-weight: bolder;
}

.hr {
  position: relative;
  height: 13rem;
}
.hr-line {
  transform: rotate(-12deg);
  border: 0;
  height: 5px;
  margin-left: -6px;
  width: 104%;
  background: #ff8900;
  position: absolute;
  bottom: 100px;
}


/*  footer styles */

p.counter {
  margin: 0 auto;
  padding: 15px;
  color: #fff;
  letter-spacing: 2px;
}

.app-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.next-button {
  padding: 5px 20px;
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
  color: orange;
  background-color: #fff;
  border: 1px solid purple;
  border-radius: 15px;
  box-shadow: -4px 6px 0px -1px purple;
  font-weight: 700;
  letter-spacing: 5px;
}

.next-button:active {
  background-color: purple;
  color: #fff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
