.App {
  text-align: center;
  border-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    #e0454f,
    #e0454f 10px,
    #eb5b68 10px,
    #eb5b68 21px
  );
}

/*  Header Styles */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin: 10px;
  float: left;
}

.App-header {
  height: 90px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.App-title {
  font-family: 'Bungee Shade', cursive;
  color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*  Card Styles */

.card-wrapper {
  /*width: 100%;*/
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  background: linear-gradient(-12deg, #14CAD4 35%, #00CC33 65%);
  border: 2px solid white;
}

#card-top-box {
  height: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top-left-radius: 10px;
}

#card-bottom-box {
  height: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.challenge, span.era, span.genre {
  font-size: 2.5em;
  transform: rotate(-12deg);
  /*font-family: 'Baloo', cursive;*/
  font-family: 'Cantora One', sans-serif;
  color: #fff;
}

hr {
  transform: rotate(-12deg);
  border: 0;
  height: 5px;
  margin-left: -6px;
  width: 104%;
  background: repeating-linear-gradient(
    45deg,
    #e0454f,
    #e0454f 10px,
    #eb5b68 10px,
    #eb5b68 20px
  );
}

/*  footer styles */

p.counter {
  margin: 0 auto;
  padding: 15px;
  color: #fff;
}

.app-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.next-button {
  padding: 5px 20px;
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #418008;
  background-color: #fff;
  border: 1px solid #418008;
  border-radius: 15px;
  box-shadow: 4px 6px 0px -1px rgba(65,128,8,1);
  font-family: 'Mountains of Christmas', cursive;
  font-weight: 700;
  letter-spacing: 5px;
}

.next-button:active {
  background-color: #418008;
  color: #fff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
